.password-error
  color: var(--bs-form-invalid-color)
  font-size: 0.875em
  margin-top: .25rem

#suggestions 
  border: 1px solid #ccc
  max-height: 200px
  overflow-y: auto
  display: none
  position: absolute
  background: white
  z-index: 1000

.suggestion 
  padding: 8px
  cursor: pointer

.suggestion:hover 
  background-color: #f0f0f0
